
@model DonationCreateVM

<h1>Create</h1>

<h4>Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonationAmount" class="control-label"></label>
                <input asp-for="DonationAmount" class="form-control" />
                <span asp-validation-for="DonationAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationDate" class="control-label"></label>
                <input asp-for="DonationDate" class="form-control" value="@Model.DonationDate.ToString("mm-dd-yyyy")"/>
                <span asp-validation-for="DonationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorId" class="control-label"></label>
                <select asp-for="DonorId" class="form-control" asp-items="@Model.DonorList">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FundraiserId" class="control-label"></label>
                <select asp-for="FundraiserId" class ="form-control" asp-items="@Model.FundraiserList">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ChannelId" class="control-label"></label>
                <select asp-for="ChannelId" class ="form-control" asp-items="@Model.ChannelList">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProgramId" class="control-label"></label>
                <select asp-for="ProgramId" class ="form-control" asp-items="@Model.ProgramList">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary p-3 mt-3">Create<i class="fa-solid fa-square-plus"></i></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

