@model IEnumerable<NonProfitApp.Models.Donation>


<h1>Donations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fundraiser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgProgram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Donation donation in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => donation.DonationAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => donation.DonationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => donation.Donor.FirstName)
                    @Html.DisplayFor(modelItem => donation.Donor.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => donation.Fundraiser.FundraiserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => donation.OrgProgram.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => donation.Channel.ChannelType)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@donation.DonationId">Edit</a>
                    <a asp-action="Details" asp-route-id="@donation.DonationId">Details</a>
                    <a asp-action="Delete" asp-route-id="@donation.DonationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
