@model IEnumerable<Donation>


<h1>Donations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<label class="form-label">Filter by channel: </label>
<form asp-action="Index" method="get">
<select class="form-control" onchange="this.form.submit()" name="channel" asp-items="@ViewBag.ChannelList">
    <option selected="true" value="">No Filter</option>
</select>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fundraiser)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Donation donation in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => donation.DonationAmount)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => donation.DonationDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => donation.Donor.FirstName)
                    @Html.DisplayFor(modelItem => donation.Donor.LastName)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => donation.Fundraiser.FundraiserName)
                </td>

            <td>

                    <a asp-action="Details" asp-route-id="@donation.DonationId">Details</a> 

            </td>
        </tr>
}
    </tbody>
</table>
