@model IEnumerable<Donation>


<h1>Donations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <select class="form-control" onchange="this.form.submit()" name="fundraiser" asp-items="@ViewBag.fundraiserList">
                    <option selected="true" value="">Filter by Fundraiser</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" onchange="this.form.submit()" name="channel" asp-items="@ViewBag.channelList">
                    <option selected="true" value="">Filter by Channel</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" onchange="this.form.submit()" name="program" asp-items="@ViewBag.programList">
                    <option selected="true" value="">Filter by Program</option>
                </select>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fundraiser)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Donation donation in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => donation.DonationAmount)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => donation.DonationDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => donation.Donor.FirstName)
                    @Html.DisplayFor(modelItem => donation.Donor.LastName)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => donation.Fundraiser.FundraiserName)
                </td>

            <td>

                    <a asp-action="Details" asp-route-id="@donation.DonationId">Details</a> 

            </td>
        </tr>
}
    </tbody>
</table>
