@model IEnumerable<Donor>
<div>
<a asp-controller="Donor" asp-action="Create" class="btn btn-primary">Add Donor</a>
</div>
<div class="col-sm-6">
    <form asp-action="Index" method="get">
        <div class="form-group">
            <label class="form-label">
                Search by Donor
            </label>
            <input class="form-control" type="text" name="search" />
            <input type="submit" value="Search" class="btn btn-outline-primary" />
        </div>

    </form>
</div>
@*Loop through list and display donor info*@
@foreach(Donor d in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" typeof="hidden"></h5>
            <h5 class="card-title">@d.FirstName @d.LastName</h5>
            <p class="card-text">@d.Phone</p>
            <p class="card-text">@d.Email</p>
            
            <a asp-controller="Donor" asp-action="Details" asp-route-id="@d.DonorId" class="btn btn-primary">Details</a>

        </div>
    </div>
    
}
